---
import Tooltip from "@components/Tooltip.astro"
---

<div class="paper">
  <h2>Aeon Lynx</h2>
  <div class="subhead">
    aeon.lynx@university.edu
    &nbsp;&#9679;&nbsp;
    (425)555-1212
    &nbsp;&#9679;&nbsp;
    <Tooltip tooltip="Open a free LinkedIn account and keep your Complete Resume up there">LinkedIn: in/aeonlynx/</Tooltip>
  </div>
  <h3 id="education" class="smallMargin">
    <Tooltip tooltip="Centered section headers allow for ultra fast skimming to find correct section">Education</Tooltip>
  </h3>
  <h4 class="smallMargin">Transylvania State University, <small>City, State</small></h4>
  <ul>
    <li>Expected graduation in Spring 2023</li>
    <li>Extensive experience with CAD and Design software</li>
    <li>CSWA Mechanical Design Certified</li>
  </ul>
  <h3 id="experience" class="smallMargin">Experience</h3>
  <h4 class="smallMargin">Hurricane Painting, <small>On-site manager and commercial painter</small></h4>
  <ul>
    <li>Worked with clients on job sites on a daily basis, regarding complaints, billing and sales</li>
    <li>Managed time and resource allocation at multiple jobs at any given time</li>
  </ul>
  <h4 class="smallMargin">Catmull Metal Products, <small>Summer Intern</small></h4>
  <ul>
    <li>Experienced at MIG (Metal Inert Gas) Welding </li>
    <li>Experienced with CNC machining with manual editing of G-Code programs</li>
    <li>Worked at multiple roles in shop manufacturing processing</li>
  </ul>
  <h3 id="achievements" class="smallMargin">
    <Tooltip tooltip="Use multiple columns if you have problems fitting into a single page. If you are using a phone to view this, this section will display in a single column">Achievements</Tooltip>
  </h3>
  <div class="flexy">
    <div class="flex-item">
      <h4 class="smallMargin">Home Renovation</h4>
      <ul>
        <li>Experience in home renovation, from demolition to building cabinetry, moving walls, replacing major beams and roof trusses</li>
      </ul>
    </div>
     <div class="flex-item">
      <h4 class="smallMargin">Model United Nations</h4>
      <ul>
        <li>Officer of Model United Nations (2 years)</li>
        <li>Staff Member of Pacific United Nations </li>
        <li>1st Place in Vancouver United Nations</li>
      </ul>
    </div>
    <div class="flex-item">
      <h4 class="smallMargin">Boy Scouts of America (7 years)</h4>
      <ul>
        <li>Eagle Scout</li>
        <li>National Youth Leadership Attendant and Staff Member </li>
        <li>Senior Patrol Leader of 80+ scout troop</li>
      </ul>
    </div>
    <div class="flex-item">
      <h4 class="smallMargin">School Band (8 years)</h4>
      <ul>
        <li>All-State Band Competitor</li>
      </ul>
    </div>
  </div>
</div>

<style>
  .paper {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    border: 2px solid gray;
    padding: 1em;
  }
  .paper h2 {
    text-align: center;
    margin-bottom: 0.2em;
  }
  .paper h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: center;
  }
  .paper h4 {
    font-size: 1.4rem;
  }
  .subhead {
    text-align: center;
  }
  .paper ul li {
    line-height: 1.2em;
    margin-top: 0.25em;
  }
  .flexy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:baseline;
    margin-top: 0;
  }
  .flex-item {
    margin-top: 0;
    width: 49%;
  }
  @media (max-width: 45em) {
    .flex-item {
      width: 100%;
    }
  }
  .smallMargin {
    margin-top:1em;
    margin-bottom:0.5em;
  }
</style>