---

---

<div class="paper">
  <h2>Adele Fortuna</h2>
  <div class="subhead">
    adelefort@university.edu
    &nbsp;|&nbsp;
    (425)555-1212
    &nbsp;|&nbsp;
    <span class="tooltip" data-tip='Ensure printed copies can still lead to the correct LinkedIn account'>
      <a href="#"><strong>LinkedIn: in/adelefort</strong></a>
    </span>
  </div>
  <p class="objective tooltip" data-tip="Optional, but might help recruiter see resource management skills through the engineer job titles">
    <strong>Objective: </strong> Experienced engineer with product management, team leadership and resource management skills seeks role in Project Management
  </p>
  <h3 id="education" >Education</h3>
  <hr />
  <h4>Prestigious University, <small>Pandora, WA</small></h4>
  <ul>
    <li>Expected graduation in Spring 2022 with BS in Physics and Mathematics</li>
    <li>GPA: 3.65 / 4.00 &mdash; Deans list for 12 quarters</li>
  </ul>
  <h3 id="experience">Experience</h3>
  <hr />
  <h4>HOVER, <small>Product Management Intern, June 2021 - Present</small></h4>
  <ul>
    <li>Research, design and spearhead the user onboarding workflow. Increased retention by 30% and profit by $10M.</li>
    <li>Work and lead a variety of technical teams to win the company-wide 48 hour Hackathon, producing a shippable product.</li>
  </ul>
  <h4>SpaceX <small>Electromechanical Technician, June 2020 - September 2020</small></h4>
  <ul>
    <li>Built and implemented an automated inventory workflow program resulting in $10,000 material savings and reduction of inventory downtime by 15%</li>
    <li>Research and recommendation on materials used to reduce thermal energy.</li>
  </ul>
  <h4>Electronics Engineer, <small>Prestigious University Formula Motorsports</small></h4>
  <p>
    Formula SAE competition racing to design, build and test performance of an electric race car used to compete 
    with other students around the globe. Eleventh place FSAE Electric Race Team Worldwide in 2020.
  </p>
  <h5><span class="underline">Team32</span>: Electronics Engineer | Cost Lead</h5>
  <ul>
    <li><span class="tooltip" data-tip="Emphasize organizational skills as first item">Managed Record keeping of costs and expenses for the team.</span></li>
    <li>Circuit design and PCB layout for Brake System. Improved design detects simultaneous hard braking and throttle
      and optimized layout for 15% size reduction.
    </li>
    <li>Designed, built and tested new features for steering wheel and dashboard controls <span class="tooltip" data-tip="Acronym is for interviewer to ask for details">(TSAL)</span></li>
  </ul>
  <h5><span class="underline">Team31</span>: Composites Engineer | Business Consultang</h5>
  <ul>
    <li><span class="tooltip" data-tip="Emphasize organizational and communication skills as first item">Managed Team 31 business financials, marketing plans and competition research case studies - delivered investment pitch
      and formal presentation at Formula SAE competition.</span>
    </li>
    <li>Designed, built and tested carbon fiber parts for race car suspension parts, reducing weight by 40%</li>
  </ul>
  <h3 id="personal-projects">Personal Projects</h3>
  <hr />
  <h4>Chess Analysis in Python <small>January 2021 - Present</small></h4>
  <ul>
    <li>Procures, replicates and analyzes 20,000 online chess games to discover the best opening move and true piece type values.</li>
    <li>Utilizes machine learning and position analysis through a chess engine and teaches the player as they play.</li>
  </ul>
  <h3 id="honors">Honors</h3>
  <hr />
  <h4>Eagle Scout | Boy Scouts of America</h4>
  <ul>
    <li>Senior Patrol Leader and many other leadership roles</li>
    <li>Instructor at National Youth Leadership Training seminars</li>
  </ul>
</div>

<style lang="scss">
  .paper {
    border: 2px solid gray;
    padding: 1em;
    font-size: 0.8em;

    h2 {
      text-align: center;
      margin-bottom: 0.2em;
    }
    h3 {
      color: var(--sl-color-accent-high);
      margin-top: 0.5em;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0.3em;
      margin-bottom: 0
    }

    h5 {
      margin: 0
    }
    hr {
      margin-top: 0.2rem;
    }
    .subhead {
      text-align: center;
    }
    ul {
      margin-top: 0.25rem;
      li {
        line-height: 1.1rem;
        margin-top: 0.25rem;
      }
    }
    p {
      margin: 0.25rem 1.5rem;
      line-height: 1.2rem;
    }
    .objective {
      text-align: center;
      margin: .5em 3em 0;
      font-size: 1.1em;
      line-height: 1.1em;
      color:  var(--sl-color--text);
    }
    .tooltip {
      background-color: var(--sl-color-accent-low);
      cursor: pointer;
    }
    .underline {
      text-decoration: underline;
    }
  }
</style>