---

---

<div class="page">
  <h2>Leslie <span>Rose</span></h2>
  <div class="flexy subhead">
    <div>
      Phone: <strong>425-555-1212</strong>
    </div>
    <div>
      Email: <strong>leslie.rose@gmail.com</strong>
    </div>
    <div>
      LinkedIn: <strong>in/leslierose35</strong>
    </div>
  </div>
  <div class="two-column">
    <div class="left-column">
      <div class="section">
        <h3>Education</h3>
        <h4>Prestigious University</h4>
        <ul>
          <li>B.S. in Physics and Informatics expected in June 2024</li>
          <li>Relevant and Planned Coursework
            <ul>
              <li>Beginning Scientific Computing</li>
              <li>Intermediate Data Programming</li>
              <li>Data Structures and Algorithms</li>
              <li>Foundational Skills for Data Science</li>
            </ul>
          </li>
        </ul>
        <h4>Fictitious University</h4>
        <ul>
          <li>GPA 3.967 / 4.00</li>
          <li>Relevant Coursework
            <ul>
              <li>Differential Equations</li>
              <li>Linear Algebra</li>
              <li>Calculus III</li>
              <li>Intro Programming for Engineering</li>
            </ul>
          </li>
        </ul>
        <h4>Long Beach High School</h4>
        <ul>
          <li>GPA: 4.00 / 4.00</li>
        </ul>
      </div>
      <div class="section start-section">
        <h3>Honors</h3>
        <ul>
          <li>Jack J. Murray General Physics Prize (2021)</li>
          <li>National Merit Finalist, National AP Scholar, National Hispanic Scholar</li>
          <li>Jamison Research Fellow</li>
        </ul>
      </div>
    </div>
    <div class="right-column">
      <div class="section">
        <h3>Work Experience</h3>
        <h4>Collins Self Defense School</h4>
        <ul>
          <li>Lead instructor teaching full classes of students aged 4-7</li>
          <li>Learned teaching and leadership skills from other experienced leaders</li>
          <li>Implemented lesson plans to foster both learning and fun for the students</li>
        </ul>
      </div>
      <div class="section start-section">
        <h3>Projects</h3>
        <h4>Machine Learning Analysis of Hourly Wage by Gender</h4>
        <ul>
          <li>Analysis and visualization of City of Seattle based on department and gender</li>
          <li>Used machine learning techniques to predict gender from first names, then analyzed through various statistical methods</li>
        </ul>
        <h4>Chess Opening Guessing Program</h4>
        <ul>
          <li>Web scraped https://www.365chess.com/eco.php for various chess openings</li>
          <li>Program will guess a chess opening name from input moves</li>
        </ul>
        <h4>Machine Learning Analysis of 911 Calls</h4>
        <ul>
          <li>Analysis of daily 911 phone calls in Seattle since 2006</li>
          <li>Used Web scraping to gather the top Google results and guess causes for busiest 911 call days</li>
          <li>Predicted future levels of 911 calls through machine learning model</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="color-spot">

  </div>
</div>

<style>
  .page {
    border: 2px solid black;
    padding: 1em 1em 0 1em;
  }
  .page h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: .1em;
  }
  .page h2 span {
    font-size: 130%;
    color: rgb(100, 130, 118);
  }
  .page h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(100, 130, 118);
    margin: 0.25em 0 0 0;
    font-size: 1.4rem;
    text-align: center;
  }
  .page .two-column h4 {
    font-size: 1.1rem;
    margin: .3em 0 .2em 0;
  }
  .page ul {
    margin-left: 0.3em;
    margin-right: 0.2em;
  }
  .page li {
    margin: 0;
  }
  .subhead {
    border-bottom: 2pt solid rgb(100, 130, 118);
  }
  .flexy {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
  }
  .two-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .left-column {
    flex: 3;
    min-width: 12em;
  }
  .section {
    margin-bottom: 1em;
  }
  .right-column {
    flex: 4;
    border-left: 2pt solid rgb(100, 130, 118);
    min-width: 18em;
  }
  .right-column .section {
    padding-left: .3em;
  }
  .start-section {
    border-top: 2pt solid rgb(100, 130, 118);
  }
  .color-spot {
    height: 4rem;
    margin: 1em 0 0 0;
    background-color: rgb(100, 130, 118);
  }
  @media (max-width: 35em) {
    .two-column {
      display: block;
    }
    .right-column {
      border: none;
    }
  }

</style>