---
---

<div class="page">
  <h2>Kevin Levitt</h2>
  <div class="two-column">
    <div class="left-column">
      <h3>Goal</h3>
      <p class="goal">Former US Army Sergeant and Eagle Scout seeks a career in Firefighting</p>
      <h3>Contact</h3>
      <h4>Phone:</h4>
      <strong>425-555-1212</strong>
      <h4>Email:</h4> 
      <strong>KevinLevitt@gmail.com</strong>
      <h3>Skills</h3>
      <ul>
        <li>BSA Adult Leader</li>
        <li>Emergency Medical Technician certified</li>
        <li><span class="tooltip" data-tip="This repeats what's listed on the right column because this is really important">Trained and Counseled young men into soldiers</span></li>
        <li>US Army Trained First Aid</li>
        <li>Fire Arms Trained (<span class="tooltip" data-tip="Way too many fire arms to list">many and various</span>)</li>
      </ul>
    </div>
    <div class="right-column">
      <h3><span class="tooltip" data-tip="Move Work Experience to the top since it's more relevant than education">Work Experience</span></h3>
      <h4>United States Army Infantry Service</h4>
      <ul>
        <li>Trained and counseled young soldiers to become an effective and disciplined unit</li>
        <li>Taught tank unit tactics in simulated tank battles using opposition force tactics</li>
        <li>Engaged with Special Forces and NATO troops in mock combat</li>
        <li>Taught Stryker driving and tactics to create an effective team</li>
        <li>Wrote up daily reports on unit readiness and training notes</li>
      </ul>
      <h4>Alpha Beta</h4>
      <ul>
        <li>Customer service as well as stocking goods in the Produce Department</li>
      </ul>
      <h4>Boy Scouts of America Troop 66 - Castle Rock</h4>
      <ul>
        <li>Taught scouting skills while keeping scouts safe - Camp Counselor and Lifeguard (Camp Collins)</li>
        <li>Worked with younger scouts - Camp Counselor and Lifeguard (Camp Battleground)</li>
      </ul>
      <h3>Education</h3>
      <h4>Long Beach Technical College</h4>
      <ul>
        <li>Certified Welder</li>
      </ul>
      <h4>Long Beach High School</h4>
      <ul>
        <li>Graduate with 70 college credits</li>
      </ul>
    </div>
  </div>
</div>

<style>
  .page {
    border: 2px solid black;
    background-image: url(../../content/docs/resume/assets/fire1/page-background.svg);
    background-repeat: no-repeat;
    background-size: 100%; 
    padding: 1em 1em 2em 2em;
    position: relative;
  }
  html[data-theme="dark"] .page {
    background-image: url(../../content/docs/resume/assets/fire1/dark-page-background.svg);
  }
  .page h2 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: .1em;
  }
  .page h2 span {
    font-size: 130%;
    color: rgb(100, 130, 118);
  }
  .page h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin: 1em 0 0 0;
    font-size: 1.4rem;
  }
  .page .left-column h3 {
    color: rgb(85, 138, 182);
  }
  .page .two-column h4 {
    font-size: 1.1rem;
    margin: .3em 0 .2em 0;
  }
  .page ul {
    margin-left: 0.3em;
    margin-right: 0.2em;
  }
  .page li {
    margin: 0;
  }
  .goal {
    font-weight: 700;
    line-height: 1.1em;
  }
  .two-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .left-column {
    flex: 4;
    font-size: 0.9rem;
  }
  .page .two-column .left-column h4 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0;
  }
  .right-column {
    flex: 9;
    margin-left: 1.5em;
    margin-top: 0;
  }
  .tooltip {
    background-color: hsla(var(--color-yellow), .40);
    cursor: pointer;
  }
  @media (max-width: 35em) { 
    .page {
      background: none;
    }
    .two-column {
      display: block;
    }
    .right-column {
      border: none;
    }
  }

</style>