---
const { alertHeader } = Astro.props
---

<aside>
  {alertHeader ? <h5>{alertHeader}</h5> : ''}
  <slot />
</aside>

<style>
  h5 {
    font-style: italic;
    font-size: 1.3em;
    text-align: center;
  }
  aside {
    background-color: var(--theme-divider);
    padding: 1em 1.5em;
    width: 100%;
    font-size: 1.3em; 
  }
  
</style>